# Archivos
# --------------------------------
*.class
*.log
*.log.1
*.zip
*.war
plugin.xml
# .project
# .classpath


# Directorios
# --------------------------------
target
target-eclipse
bin
WEB-INF
WS-2.2
.metadata
.settings
.link_to_grails_plugins
# plugins
geb-examples-master